:root{
   --primary__text-color: #5a5a5a;
   --secondary__text-color: #707070;
   --third__text-color: #a1a1a1;

   --active: #FFEF35;

   --tabs-border: #454647;
   --tabs-text: #8F8D8D;

   --primary__title-color: #363838;
   --line-color: #979797;

   --footer-bg: #DFDFDF;
}

$footer-bg: #DFDFDF;
$primary__title-color: #363838;
$tabs-border: #454647;